<div class="container color-dark">
    <div class="col">
      <p>Skills items</p>
    </div>
  </div>
  <div class="container color-light">
    <div class="col">
      <form>
        <input type="text" class="txt" name="lenguajes" placeholder="Lenguaje" [(ngModel)]="mySkill.lenguajes" ngModel><br>
        <input type="submit" class="btn" value="{{ btntxt }}" (click)="addSkill()">
      </form>
    </div>
  </div>
  <div class="col">
    <div class="life-container" *ngFor="let skill of skills">
      <input type="text" [(ngModel)]="skill.lenguajes">
      <input type="submit" class="btn" value="Actualizar" (click)="updateSkill(skill)">
      <input type="submit" class="btn" value="Eliminar" (click)="deleteSkill(skill.id)">
      <span>{{ skill.lenguajes }}</span>
    </div>
  </div>
  